@import 'tailwindcss';
@import '@heroui/styles';
@custom-variant dark (&:is(.dark *));

.dark {
  --background: #18181b;
  --accent: #0ea5e9;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #e11d48;
}
